<div class="container">
<div class="alert-box">
    <div class="card bg-light mb-3">
        <div class="card-header">
            <h2 class="notification-header">Notifications</h2>
            
        </div>
        <div class="card-body">
            <ul class="alerts list-group">
                <li class="list-group-item" *ngFor="let alert of pageOfItems">
                    <div class="row">
                        <div class="col-sm-1 icons">
                            <fa-icon [icon]="warning" style="color:red;" *ngIf="alert.status == 1"></fa-icon>
                            <fa-icon [icon]="warning" style="color:#ffff00;" *ngIf="alert.status == 2"></fa-icon>
                            <fa-icon [icon]="warning" style="color: #9900e6;" *ngIf="alert.status == 3"></fa-icon>
                            <fa-icon [icon]="warning" style="color:green;" *ngIf="alert.status == 4"></fa-icon>
                        </div>
                        <div class="col-sm-11">
                            <span><a class="message" router-link="#">{{alert.message}}</a></span>
                            <span class="severity text-secondary" *ngIf="alert.status == 1">Severity: High | </span>
                            <span class="severity text-secondary" *ngIf="alert.status == 2">Severity: Medium | </span>
                            <span class="severity text-secondary" *ngIf="alert.status == 3">Severity: Low | </span>
                            <span class="severity text-secondary" *ngIf="alert.status == 4">Severity: Very Low | </span>
                            <span class="text-secondary timestamp">{{alert.date}} {{alert.time}}</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <jw-pagination [items]="alerts"   disableDefaultStyles={true} (changePage)="onChangePage($event)" [pageSize] = 5 [maxPages] = 1></jw-pagination>
        </div>
    </div>
</div>
</div>